<form>
  <fieldset>
    <legend>Drużyna</legend>
    <div>
      <label>Nazwa</label><br />
      <input placeholder="Nazwa" />
    </div>

    <div>
      <label>Trener</label><br />
      <input placeholder="Imię i nazwisko trenera" />
    </div>

    <div>
      <label>Herb klubu</label><br />
      <input type="file" placeholder="Nazwa" />
    </div>
  </fieldset>

  <button type="button">Dodaj zawodnika</button>
  <ol>
    <li>
      <div>
        <fieldset>
          <legend>Add Player</legend>
          <div>
            <label>Imię</label><br />
            <input placeholder="Imię" />
          </div>
          <div>
            <label>Nazwisko</label><br />
            <input placeholder="Nazwisko" />
          </div>

          <div>
            <label>Noga wiodąca</label><br />
            <select>
              <option>Prawa</option>
              <option>Lewa</option>
              <option>Obunożny</option>
            </select>
          </div>
          <div>
            <label>Status wypożyczonego</label><br /><input type="checkbox" />
          </div>
        </fieldset>

        <span>🗑</span>
      </div>
    </li>
  </ol>
  <button>Zapisz</button>
</form>
