<form [formGroup]="teamForm" (ngSubmit)="sendForm()">
  <fieldset>
    <legend>Drużyna</legend>
    <div>
      <label>Nazwa</label><br />
      <input
        [class.error]="teamNameCtrl.touched && teamNameCtrl.errors"
        formControlName="teamName"
        placeholder="Nazwa"
      />

      <ng-container *ngIf="teamNameCtrl.errors as errors">
        <ng-container *ngIf="teamNameCtrl.touched">
          <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
          <p *ngIf="errors['minlength'] as milLength">
            Podałeś {{ milLength.actualLength }} znaki, minimum to
            {{ milLength.requiredLength }}
          </p>
        </ng-container>
      </ng-container>

      {{ teamNameCtrl.errors | json }}
    </div>

    <div>
      <label>Trener</label><br />
      <input
        formControlName="coachName"
        placeholder="Imię i nazwisko trenera"
      />
    </div>

    <div>
      <label>Herb klubu</label><br />
      <input
        (change)="setLogoFileToForm($event)"
        type="file"
        placeholder="Nazwa"
      />
    </div>

    <img *ngIf="logoPreviewURL" [src]="logoPreviewURL" />
  </fieldset>

  <input formControlName="hasCreatedYear" type="checkbox" /> rok założenia?

  <textarea
    *ngIf="teamForm.controls.hasCreatedYear.value"
    formControlName="createdAt"
    placeholder="wpisz rok założenia"
  ></textarea>
  <br />

  <button (click)="addPlayer()" type="button">Dodaj zawodnika</button>
  <ol>
    <li
      *ngFor="
        let playerForm of teamForm.controls.players.controls;
        let index = index
      "
    >
      <div [formGroup]="playerForm">
        <fieldset>
          <legend>Add Player</legend>
          <div>
            <label>Imię</label><br />
            <input formControlName="firstName" placeholder="Imię" />
          </div>
          <div>
            <label>Nazwisko</label><br />
            <input placeholder="Nazwisko" />
          </div>

          <div>
            <label>Noga wiodąca</label><br />
            <select>
              <option>Prawa</option>
              <option>Lewa</option>
              <option>Obunożny</option>
            </select>
          </div>
          <div>
            <label>Status wypożyczonego</label><br /><input type="checkbox" />
          </div>
        </fieldset>

        <button (click)="removePlayer(index)" type="button">
          <span>🗑</span>
        </button>
      </div>
    </li>
  </ol>
  <button>Zapisz</button>
</form>
